.forecast{
    margin-top: 25px;
    min-height: 200px;
    max-width: 85%;
    background-color: #005e81;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding: 35px 15px 15px 15px;
    position: relative;
}
.forecast-row{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #ffffff;
    
}
.forecast-date{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}
.forecast-cell{
    border-bottom: 1px solid #ffffff;
}
@media screen and (max-width: 798px) {
    .forecast{
        flex-direction: column;
        max-width: 93%;
        padding: 35px 5px 15px 8px;
    }
    .forecast-row{
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }
    .forecast-date{
        width: 52px;
    }
    #forecast_date{
        font-size: 13px;
    }
    .forecast-cell{
        border-bottom: none;
        min-width: 47px;
    }
}