.weatherCard{
    max-width: 600px;
    background-color: #beb8b8;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    border-radius: 5px;
    position: relative;
    gap: 5px;
    cursor: pointer;
}
.weather-subsection{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.weather-summary{
    display: flex;
    align-items: center;
    gap: 5px;
}
.weather-icon{
    width: 35px;
    height: 35px;
    fill: #ffffff;
}

.city-temparature{
    font-size: 32px;
    font-weight: 500;
}
.location-place{
    font-size: 21px;
    font-weight: 600;
    color: #ede6e6;
}
.location{
    font-size: 15px;
    font-weight: 500;
}
.weather-details{
    font-size: 21px;
    font-weight: 500;
    color: rgb(236 236 242);
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: auto;
}
.weather-row{
    display: flex;
}
.weather-label{
    width: 150px;
}
.delete-btn{
    position: absolute;
    top: 6px;
    right: 12px;
    width: 25px;
    height: 25px;
    fill: #f70d0d;
    cursor: pointer;
}
@media screen and (max-width:675px) {
    .weatherCard{
        padding: 27px 5px 5px 8px;
        max-width: 350px;
    }
    .weather-details{
        font-size: 15px;
        min-width: 195px;
    }
    .weather-label{
        width: 115px;
    }
    .location-place{
        font-size: 18px;
    }
    .location{
        font-size: 14px;
        font-weight: 500;
    }
}